* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.letter {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  animation-duration: 5s;
}
.keyboard {
  margin-top: 1.5rem;
}
.keyrow-1,
.keyrow-2,
.keyrow-3 {
  display: flex;
  padding: 0.1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.key {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 3rem;
  text-align: center;
  border-radius: 0.5rem;
}
.key-del,
.key-enter {
  width: auto;
}
/* By Javascript */
.bg-used {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-yellow {
  background-color: rgba(225, 225, 50, 0.9);
}
.bg-green {
  background-color: rgba(5, 205, 28, 0.8);
}
@media (max-width: 575px) {
  .keyboard {
    margin-top: 2rem;
  }
  .keyrow-1,
  .keyrow-2,
  .keyrow-3 {
  display: flex;
  justify-content: center;
  /* border: 2px solid green; */
}
.key {
  /* border: 2px solid red; */
  width: auto;
}
}


/* BOOTSTRAP MODEL JAVASCRIPT  */
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); 
      background-color: rgba(0, 0, 0, 0.4)
    }
    
    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 1rem;
      border: 1px solid #888;
      width: 80%;
      height: 30%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      background: transparent;
      backdrop-filter: blur(10px);
     
    }
     
    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }
    
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header {
      padding: 10px 16px;
      color: white;
      text-align: center;
      font-size: 1.5rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .modal-body {
      padding: 10px 16px;
      text-align: center;
      font-size: bold;
      color: white;
      font-size: 2rem;
      font-weight: bold;
     
    }
    
    /* .modal-footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    } */

    @keyframes example {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
